<section class="ba-home-wrapper" id="home">
    <div class="row ba-home-main-text">
        <div class="column small-12 text-center white">
            <h1 class="text-uppercase">creative digital project</h1>
            <!-- /.text-uppercase -->
            <p class="sub-title-h1">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio
                sem nec elit.</p>
        </div>
        <!-- /.column -->
    </div>
    <!-- /.row -->
</section>
<!-- /.ba-home-wrapper -->